Source: ros-rolling-mod
Section: misc
Priority: optional
Maintainer: Chittaranjan Personal <ksatyaki@gmail.com>
Build-Depends: debhelper (>= 9.0.0), libboost-all-dev, libeigen3-dev, ros-rolling-ament-cmake, ros-rolling-ompl, ros-rolling-ros-workspace
Homepage: https://mapsofdynamics.bitbucket.io
Standards-Version: 3.9.2

Package: ros-rolling-mod
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}, libboost-all-dev, libeigen3-dev, ros-rolling-ompl, ros-rolling-ros-workspace
Description: Maps of Dynamics Package
